.custom-web-camera-button-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: transparent;
  height: 100%;
  max-width: 42px;
  cursor: pointer;
  color: #ff5b5b;
  border: none;
  width: 100%;
  padding: 0;
  margin: 0;
}

.custom-web-camera-button-label-text {
  color: #9bff78;
  font-size: 8px;
  font-weight: 700;
  margin-top: 4px;
  margin-bottom: 2px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  text-align: center;
  line-height: 1.15;
}

.custom-web-camera-button-label-text-disabled {
  color: #ff5b5b;
  font-size: 8px;
  font-weight: 700;
  margin-top: 4px;
  margin-bottom: 2px;
  cursor: pointer;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  width: 100%;
  text-align: center;
  line-height: 1.15;
}

.custom-web-camera-popup-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  gap: 8px;
}

.action-button-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 10px 0;
}

.action-button {
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 72px;
  font-size: 8px;
  gap: 8px;
  border: none;
  background: transparent;
  color: white;
  padding: 0;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 32px;
}
