.custom-overlay-container {
  display: flex;
  flex-direction: row-reverse;
  background: transparent;
  height: 100%;
  margin-bottom: 96px; // 96px is the height of the toolbar
  pointer-events: auto;
}
